anyio
asgiref
click
colorama
dlib
face-recognition
face-recognition-models
fastapi
h11
idna
importlib-metadata
numpy
opencv-python
pydantic
pymongo
sniffio
starlette
typing-extensions
uvicorn
websockets
zipp
